.upload__image-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.upload__image {
    width: 70%;
    height: 100%;
    cursor: pointer;
    background: url(upload-icon-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}

#imageUpload {
    display: none;
}

.upload__loaded-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.upload__clear-image {
    position: absolute;
    cursor: pointer;
    width: 2em;
    height: 2em;
    right: 0;
    top: 0;
    transform: translate(-20%, +20%);
    background: url(clear-icon.png);
    background-size: cover;
    z-index: 10;
}

