@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "style/typography.css";

body {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  color: #fff6eb;
  background: #15181e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
}
