.upload-section {
  line-height: 1;
}

.upload-section__content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.upload-section__info {
  width: 50%;
  margin: 0 auto;
}

.upload-section__unsplash {
  margin: auto;
  width: 625px;
  height: 568px;
}

.upload-section__input {
  width: 55%;
  margin: 3% 5%;
}

@media (max-width: 425px) {
  .upload-section__input {
    width: 90%;
  }
}

.upload-section__title {
  padding-bottom: 0.1em;
  width: 90%;
  margin: auto;
}

.upload-section__image {
  margin-top: 10px;
  width: fit-content;
  height: 395px;
}

.upload-section__description {
  padding: 1rem 0 1.5rem 0;
  width: 90%;
  margin: auto;
}

.unsplash-react input {
  color: white;
}

.unsplash-react > span {
  display: none !important;
}

.unsplash-react > div:last-child > div:first-child {
  overflow: hidden !important;
}

@media (max-width: 576px) {
  .upload-section__info {
    width: 100%;
  }
}
