.text-h2 {
  font-weight: 500;
  font-size: 3rem;
}

@media (max-width: 576px) {
  .text-h2 {
    font-size: 2rem;
  }
}

.text-copy {
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 576px) {
  .text-copy {
    font-size: 1rem;
  }
}

.text-clr-primary {
  color: #7f6a57;
}
