.movements-list {
  width: 80%;
  line-height: 3em;
  overflow-wrap: break-word;
  margin-left: 3.1em;
}

.movements-list__option {
  display: inline;
  display: inline;
  padding: 10px;
  margin: 1px 10px;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
  background-color: #57667f;
}

.images-list {
  margin: 1em 3rem;
}

.images-list__img {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}
