.section {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.section__title {
  padding: 1rem 0 2rem 7rem;
  color: #fff6eb;
  display: block;
  font-weight: 500;
  font-size: 3rem;
}

.section__description {
  padding: 0.5rem 0 2rem 7rem;
  display: block;

  color: #7f6a57;
  width: 50%;
}

.section__content {
  display: block;
  overflow: hidden;
}
